@use 'variables' as *;
@use 'mixins' as *;
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}
body{
  font-family: $fuente_principal;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: linear-gradient(to top, $darkblue 0%, $greyblue 100%);
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0;
}
