$fuente_principal: 'poppins', sans-serif;
$mainColor:#3b295f;
$SecondaryColor: #191e6dec;
$button: #16386ef1;
$hoverButton1:#8b9625e3;
$hoverButton2:#4e2ea7cb;
$white: #c4c8ce;
$grey: #999ea5;

//mixins
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1400px;