@use '../Base/variables' as *;
@use '../Base/mixins' as *;

.contact-info {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 20px;
    @include tablet {
        grid-template-columns: repeat(2,1fr);
    }
    @include desktopxl {
        grid-template-columns: repeat(4,1fr);
    }
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}