@use '../Base/variables' as *;
@use '../Base/mixins' as *;

.title{
    display: grid;
    grid-template-rows:1fr 1fr ;
    @include tablet {
        padding: 0 2rem;
        grid-template-rows:1fr;
        grid-template-columns: repeat(3,1fr);
            .info{
                grid-column: 1 / span 2;
            }
            .image{
                grid-column: 3 / span 1;
            }
        }
    .name{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1,h2,h3,p{
            margin:1rem ;
        }
        p{
            font-weight:bold;
            text-align: end;
        }
            
    }

}

.info{
    padding: 0 5rem;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.image {
    display: flex;
    justify-content: center;
    img{
        width: 100%;
        max-width: 20rem;
        @include tablet{
            width: 100%;
            max-width: 20rem;
            border-radius: 50%;
        }
    } 
}

.biography{
    padding: 0 2rem;
}