@use '../Base/variables' as *;
@use '../Base/mixins' as *;

.title{
    @include tablet {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
            .info{
                grid-column: 1 / span 2;
            }
            .image{
                grid-column: 3 / span 1;
            }
        }
    .name{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1,h3,p{
            margin:1rem ;
        }
            
    }

}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}


.proyect{
    @include tablet{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

.image {
    img{
        width: 100%;
        max-width: 20rem;
        border-radius: 50%;
    }
}