@use '../Base/variables' as *;

.Button{
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
    text-decoration: none;
}

.primarybutton{
    background-color: $button;

    &:hover{
        cursor: pointer;
        background-color: $hoverButton1;
    }
}

.secondarybutton{
    border: solid 2px $button;
    &:hover{
        cursor: pointer;
        background-color: $hoverButton2;
    }
}