@use '../Base/variables' as *;
@use '../Base/mixins' as *;

.logos {
    width: 200%;
    display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    gap: 20px;
}

.logo {
    max-width: 5rem;
    min-width: 80px; /* importante */
    flex-shrink: 0;  /* evita que se encojan */
}